.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.Xcode/
.adobe/
.bash_history
.bundler/
.config/
.cups/
.designer/
.dropbox/
.dvdcss/
.emacs.d/
.fontconfig/
.gdb_history
.gem/
.git/
.gitk
.gnome2/
.gnupg/
.gpg-agent-info
.inkscape-etc/
.irb_history
.lesshst
.lftp/
.macports/
.mplayer/
.passenger/
.recently-used.xbel
.rediscli_history
.rs/
.serverauth.1709
.spumux/
.sqlite_history
.ssh/
.subversion/
.viminfo
Archive/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Manga/
Movies/
Music/
Papers2/
Pictures/
Public/
Sites/
Workspace/
